.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.heading {
  display: flex;
  align-self: center;
  margin-bottom: 20px;
}

.sub-heading {
  display: flex;
  align-self: center;
  padding: 20px;
  margin-bottom: 20px;
}
