.board {
  /* min-width: 290px;
  width: 290px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px; */
  min-width: 290px;
  width: 290px;
  max-height: 100%;
  flex-basis: 290px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.board_top {
  /* display: flex; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board_top_title {
  /* flex: 1;
  display: flex;
  align-items: center;
  font-weight: bold; */
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  gap: 5px;
  align-items: center;
}

.board_top_title span {
  color: gray;
}

.board_cards {
  /* background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto; */
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}
